

<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscarEscuela( input.value )" type="text" class="form-control" placeholder="Buscar escuela...">

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn"*ngIf="cargando">

    <div class="col-sm-12">

        <div class="alert alert-success text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            <br>
            <span>Espere por favor...</span>
        </div>
    </div>
</div>

    
<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="text-right">
                    <button (click)="exportexcel()" type="button" class="btn waves-effect waves-light btn-rounded btn-info">
                        <i class="fa fa-file-excel-o fa-1x"></i> 
                        Exportar a Excel
                      </button>
                </div>

                 <!-- <button (click)="exportexcel()">Export to Excel</button> -->


                <h3 class="card-title">Escuelas registradas ( <small> {{ totalRegistros }} </small> )</h3>
                <!-- _escuelaService.totalEscuelas -->
                <table id="excel-table" class="table table-hover">
                    <thead>
                        <tr>
                            <th>FOTO</th> 
                            <th>CUE</th> 
                            <th>NOMBRE</th>
                            <th>NIVEL</th>
                            <th>DIRECCIÓN</th>
                            <th>BARRIO</th>
                            <th>TELEFONO</th>
                            <th>DIRECTOR</th> 
                            <th>DPTO</th>   
                                                       
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let escuela of escuelas | paginate: { itemsPerPage: 15, currentPage: p }">

                            <td>
                                <img [src]="escuela.img | imagen:'escuela'" class="img-50 pointer">
                            </td>
                            <td>
                                {{escuela.cue}} 
                            </td>
                            <td>
                                {{escuela.nombre}} 
                            </td>
                            
                            <td>
                                {{escuela.nivel}} 
                            </td>

                             <td>
                                {{escuela.domicilio}} 
                            </td>

                            <td>
                                {{escuela.barrio}}
                            </td>

                            <td>
                                {{escuela.telefono}} 
                            </td>  

                            <td>
                                <select style="width:250px" (change)="cambioDirector( $event.target.value )" [(ngModel)]="escuela.director" class="form-control" type="text"  disabled=false>
                                    <option *ngFor="let director of directores" [value]="director._id">
                                      {{ director.nombre }}
                                    </option>
                                </select> 
                            </td> 
                            
                            <td> 
                                {{escuela.dpto}} 
                            </td>  

                                                    
                              <td>
                                  <button [routerLink]="['/listado', escuela._id ]" class="btn btn-primary">
                                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                                  </button>
                                
                            </td>
                        </tr>

                        
                    </tbody>
                </table>
                <!-- <button (click)="cambiarDesde(-10)" class="btn btn-secondary">
                    Anteriores
                  </button>
  
                  <button (click)="cambiarDesde(10)" class="btn btn-secondary">
                    Siguientes
                  </button> -->
            </div>
        </div>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
